<div class="container">
  <div class="row">
    <form [formGroup]="loginForm" (ngSubmit)="formSubmit()">
      <div class="login-form">
        <div class="form-content">
          <h3>ACCOUNT LOGIN</h3>
          <div class="form-group">
            <label class="control-label">Username</label>
            <input type="text" [class.is-invalid]="formFieldsErrors.emptyEmail || formFieldsErrors.invalidEmail" formControlName="email" class="form-control" placeholder="Email" (blur)="checkFieldValidity('email')" />
            <small *ngIf="formFieldsErrors.emptyEmail" class="text-danger">Must fill required field.</small>
            <small *ngIf="formFieldsErrors.invalidEmail" class="text-danger">Email is not in correct format.</small>
          </div>
          <div class="form-group">
            <label class="control-label">Password</label>
            <input type="password" [class.is-invalid]="formFieldsErrors.emptyPassword" formControlName="password" class="form-control" placeholder="Password" (blur)="checkFieldValidity('password')" />
            <small *ngIf="formFieldsErrors.emptyPassword" class="text-danger">Must fill required field.</small>
          </div>

          <input type="submit" class="btn btn-primary btn-size" value="SIGN IN"  />
          <div class="sign-up">
            <span>Forgot <a href="#">Username / Password?</a></span>
            <span>Create an account? <a href="#" (click)="signUp();">Sign up</a></span>
          </div>
        </div>

      </div>
    </form>

  </div>

  

</div>


<sign-up [displayModal]="displayModal" (modalClosed)="modalIsClosed($event)"></sign-up>
